<!DOCTYPE html>
<html>
  <head>
  <title>zillow-clone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "https://js.stripe.com/v1/" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "zillow-clone", root_url, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Listings", listings_url %></li>
              <% if current_user %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.email %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", user_url(current_user) %>
                  <li><%= link_to "Settings", edit_user_registration_url %>
                  <li><%= link_to "Log out", destroy_user_session_url, method: :delete %></li>
                </ul>
              </li>
              <% else %>
                <li><%= link_to "Sign in", new_user_session_url %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
      <footer class="footer">
          <small>
            <%= link_to "zillow-clone", root_url %>
            by Yours Truely
          </small>
          <nav>
            <ul>
              <li><%= link_to "Help", help_url %></li>
              <li><%= link_to "Legal", root_url %></li>
              <li><%= link_to "Contact", root_url %></li>
              <li><%= link_to "Issues",   'https://github.com/jclif/zillow-clone/issues' %></li>
            </ul>
          </nav>
        </footer>
    </div>
  </body>
</html>
